.MainBanner-container{
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url("../assets/img/galaxy.jpg");
    background-color: black;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.MainBanner-container h1{
    text-align: center;
    font-size: 25px;
    padding-top: 1%;
    letter-spacing: 5px;
}

.MainBanner-container h2{
    text-align: center;
    font-size: 60px;
}


.MainBanner-container .logo-iktan{
    position: relative;
    padding-top: 3%;
    width: 220px;
    left: 36%;
}
.MainBanner-container .logo-tec{
    position: relative;
    padding-top: 2%;
    width: 140px;
    filter: invert(100%);
    left: 38%;
}

